* {margin: 0; padding: 0;}

body {
    background-color: rgba(0, 0, 0, 0.911);
    
}
header {
    height: 90vh;
}


#tituloVideo {
    text-align: center;
    color: white;
}

#video {
    text-align: center;
  
 }

#imagem {
    
    width: 100%
    margin-top: 10%;
}


#componentes {
      
    width: 100%
    margin-top: 10%;
    color: white;
}



#arduino{

    width: 100%
    margin: auto;
    margin-top: 10%;
    margin-right: 7.3%;

}

.textoarduino{
   
   width: 100% 
   margin: auto;
   display: inline-block;
   margin-left: 14%;
}

#porta{
    
    width: 100%
    margin-top: 10%;
    margin: auto;
    margin-right: 6.8%;

}

#placa{
    
    width: 100%
    margin-top: 5%;
    margin: auto;
    margin-left: 50%;
}


.textoplaca{
   
   width: 100%
   margin: auto;
   display: inline-block;
   margin-left: 33%;
}

#bateria{

    width: 100%
    margin: auto;
    margin-top: 5%;
    margin-right: 4.5%;
}


.textobateria{
   


   margin: auto;
   display: inline-block;
   margin-left: 39.9%;
}


#motor{
    
    width: 100%
    color: white;
    margin: auto;
    margin-top: 5%;
    margin-right: 4.5%;

}

.textomotor{

   
   width: 100%
   margin: auto;
   color: white; 
   display: inline-block; 
   margin-left: 37.3%;
}


#ldr{
    
    width: 100%
    color: white;
    margin: auto;
    margin-top: 5%;
    margin-right: 4.5%;

}

.textoldr{
  
   width: 100%
   margin: auto;
   color: white; 
   display: inline-block;
   margin-left: 32%;
}

#resistor{
    
    

    width: 100%
    color: white;
    margin: auto;
    margin-top: 5%;
    margin-right: 4.5%;

}

.textoresistor{
  
   width: 100%
   margin: auto;
   color: white; 
   display: inline-block;
   margin-left: 31%;
}


#led{
    
    width: 100%
    color: white;
    margin: auto;
    margin-top: 5%;
    margin-right: 4.5%;

}

.textoled{
  
   width: 100%
   margin: auto;
   color: white; 
   display: inline-block;
   margin-left: 41.7%;
}

#ponte{
    
    width: 100%
    color: white;
    margin: auto;
    margin-top: 5%;
    margin-right: 4.5%;

}

.textoponte{
  
   width: 100%
   margin: auto;
   color: white; 
   display: inline-block;
   margin-left: 39.1%;
}




#codigos {
      
    margin-top: 10%;
    color: white;
}

.seguidor {

    width: 100%;
}



#integrantes {
    margin: auto;
    margin-top: 10%;
}


#imagemAndre{

    width: 100%;
    margin-top: 5%;
}

#imagemGustavo{

    width: 100%;
    margin-top: 5%;
}

#imagemRyan{

    width: 100%;
    margin-top: 5%;
}



#roteiro {
      
    margin-top: 10%;
    color: white;
}

#rodape {
    color: white;
}




#integrantesEquipe {
    
    color: white;       
    margin-top: 10%;   
    text-align: center;
  
}

#nav {    
    position: sticky;
    top: 0%;
}

html {
    scroll-behavior: smooth;
  }

.navbar-text {
    margin: auto;
}
